<footer>
  <a href="/about">運営者情報・調査概要</a>
  <p class="gaiyou_footer">※ 調査概要<br>
  調査内容:人気のマットレス6ブランドに関する体験アンケート調査<br>
  調査概要:実際の寝心地を体験してもらった比較調査。マットレスブランド：コアラマットレス／NELLマットレス／エマ・スリープ／Limne（リムネ）／トゥルースリーパー／エアウィーヴ　<br>※調査時は、ブランドが特定できるものは伏せた状態で実施しております。<br>
  調査方法:体験を通したアンケート調査<br>
  調査対象:睡眠に悩んでいる一般人100名<br>
  調査期間:2023年4月～5月<br>
  調査会社：UNLOCK TOKYO合同会社
  </p>
</footer>