<!DOCTYPE html>
<html>
  <head>
    <title>あなたに合ったマットレスが見つかる！人気のマットレス 6ブランド徹底比較</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MHVHCF8');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a30dcd0e06.js" crossorigin="anonymous"></script>
    <link rel="icon" href=“/images/favicon.ico”>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta content='ja_JP' property='og:locale'>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-269236669-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-269236669-1');
    </script>
  </head>
