footer {
  text-align: center;
  background-color: #15096b;
  padding: 16px;
  a {
    cursor: pointer !important;
    color: #fff !important;
    text-decoration: underline !important;
  }
  p {
    color: #fff;
    display: block;
    font-size: 6px;
    line-height: 1.6;
    margin-left: 10px;
    margin-right: 10px;
  }
}
